* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-footer-bg: #ffeaa4;
    --book-bg: #bd7500;
    --button-bg: var(--header-footer-bg);

    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

dialog {
    margin: auto;
    padding: var(--space-xl);
    border: none;
    border-radius: 1rem;
    box-shadow: 0px 2px 10px gray;
}

.container {
    flex: 1;
    padding: var(--space-xl);
}

.header, .footer {
    text-align: center;
    font-weight: bold;
    padding: var(--space-sm);
    background: var(--header-footer-bg);
    box-shadow: 1px 1px 5px lightgray;
}

.books-header {
    display: flex;
    justify-content: space-between;
}

.books-header button {
    width: 6rem;
    height: 2.5rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background: var(--button-bg);
    border: none;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px lightgray;
}

.books {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--space-xl);
    margin-top: 1rem;
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
    background: var(--book-bg);
    border-left: 8px solid black;
    border-radius: 0.5rem;
    padding: var(--space-lg);
    text-align: center;
}

.form-header {
    display: flex;
    justify-content: space-between;
}

.text-input {
    display: flex;
    flex-direction: column;
}

.text-input > input {
    width: 20vw;
    height: 4vh;
    padding: var(--space-xs);
    border: 1px solid gray;
    border-radius: 0.5rem;
}

.delete-book, #close-btn {
    font-size: 1rem;
    background: none;
    border: none;
}

#new-book-form {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

#close-btn:hover {
    color: var(--header-footer-bg);
}

#confirm-btn {
    padding: var(--space-sm);
    border: none;
    border-radius: 0.5rem;
    background: var(--button-bg);
    color: black;
    font-weight: bold;
}